(
    name: Some("Prompt"),
    kind: Line((
        source: ServerLine,
        kind: Regex,
        pattern: "^Exits:(?: (.+))$",
        case_insensitive: false,
        pass_through: false,
    )),
)
