(
    name: Some("Quaff missing tank buffs"),
    kind: Line((
        source: UserCommand,
        kind: Regex,
        pattern: "^tankpots$",
        case_insensitive: false,
        pass_through: false,
    )),
)
